.flex {
  display: flex;
}

.grow {
  flex-grow: 1;
}

.text-center {
  text-align: center;
}

.week-day {
  font-size: small;
  color: gray;
}

.date {
  font-size: large;
}

.hour-slot {
  /* background-color: darkblue; */
  height: 3rem;
  /* outline: 1px silver solid; */
}

.timezone {
  align-self: end;
}

.timezone,
.hour-label-container {
  width: 4rem;
}

.hour-label {
  position: relative;
  top: -0.5rem;
  background: white;
  width: 3.5rem;
  display: block;
}

.hour-line::after {
  content: "";
  width: calc(100% - 4rem);
  margin-top: -1px;
  border-bottom: #dadce0 1px solid;
  position: absolute;
}

.hour-label-container {
  text-align: center;
}

.outline {
  border-bottom: #dadce0 1px solid;
  border-left: #dadce0 1px solid;
}

.week-day-container {
  position: sticky;
  top: 0;
  border-bottom: #dadce0 1px solid;
  background-color: white;
  z-index: 1;
}

.week-slot.v-line {
  border-left: #dadce0 1px solid;
}
.week-slot {
  width: 100%;
}

.event-slot {
  position: relative;
  background-color: tomato;
  border-radius: 0.3rem;
  padding: 0.25rem;
}

.w-8 {
  width: 8px;
  opacity: 0;
}
